<div id="header">
<%=link_to "login",new_session_path%><br>
<%=link_to "register",register_path%><br>
<%if session[:user_id]%>
<%= link_to "your account", user_path(session[:user_id]) %>
<%=link_to "log out",session_path,:method=>"post"%>

<%end%>
  </div>